footer {
    background-color: var(--app-bg-secondary-color);
    display: grid;
    box-sizing: border-box;
    height: 70px;
    grid-template-columns: 1fr;
    grid-template-areas: 'left right';
    align-items: center;
    padding: 16px 20px;
    border-top: 1px solid var(--app-border-primary);

    visibility: hidden;

    .left {
        grid-area: left;
    }

    .right {
        grid-area: right;
        justify-self: end;
    }
}

@media (max-width: 768px) {
    footer {
        width: 375px;
        margin: 0px auto;
        visibility: initial;
    }
}
