/* You can add global styles to this file, and also import other style files */

@import '../../../libs/ui/fonts/font.css';
@import './css/reset';

:root {
  // Background //
  --app-bg-primary-color:#EAEDF3;
  --app-bg-secondary-color:#FFFFFF;

  // Buttons //
  --app-button-primary-color:#34AA44;
  --app-button-secondary-color:#FFFFFF;
  --app-button-danger-color:#E73C1E;

  // Button States //
  --app-button-primary-hover:#31a13f;
  --app-button-secondary-hover:#f2f2f2;
  --app-button-danger-hover:#db381b;

  // Text // 
  --app-text-primary:#3E3F42;
  --app-text-secondary:#9EA0A5;
  --app-text-danger:#E73C1E;
  --app-text-white:#FFFFFF; 

  // Borders // 
  --app-border-primary:#EAEDF3;
  --app-border-secondary:#00000033;

}

body{
  background-color:var(--app-bg-primary-color);
}

button{
  outline: none;
}

h1,h2,h3,h4,h5,h6,p {
  font-family: 'Roboto-Medium', sans-serif;
}

.page-title{
  font-size: 20px;
}

