/* You can add global styles to this file, and also import other style files */
@import '../../web/src/app/shared/styles/elements.scss';
@import '../../../libs/ui/fonts/font.css';
@import './css/reset';

:root {
    // Background //
    --app-bg-primary-color: #fbfbfd;
    --app-bg-secondary-color: #ffffff;

    // Buttons //
    --app-button-primary-color: #34aa44;
    --app-button-secondary-color: #ffffff;
    --app-button-danger-color: #e73c1e;

    // Button States //
    --app-button-primary-hover: #31a13f;
    --app-button-secondary-hover: #f2f2f2;
    --app-button-danger-hover: #db381b;

    // Text //
    --app-text-primary: #3e3f42;
    --app-text-secondary: #9ea0a5;
    --app-text-danger: #e73c1e;
    --app-text-white: #ffffff;

    // Borders //
    --app-border-primary: #eaedf3;
    --app-border-secondary: #00000033;
}

.page-title {
    font-size: 20px;
}

@media (max-width: 768px) {
    .mob-none {
        display: none;
    }
}
