/* You can add global styles to this file, and also import other style files */

@import '../../../libs/ui/fonts/font.css';
@import './css/reset';

body{
  background-color: #FBFBFD;
}

button{
  outline: none;
}

h1,h2,h3,h4,h5,h6,p {
  font-family: 'Roboto-Medium', sans-serif;
}

.page-title{
  font-size: 20px;
}

