svg {
  fill:#34AA44;
  padding-right: 3px;
}

button svg {
  fill:white;
}

button {
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: .5rem 1rem;
  margin: 0;
  text-decoration: none;
  background: #34AA44;
  color: #ffffff;
  font-family: "Roboto";
  font-size: .85rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #31a13f;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.99);
}

.navbar {
  background-color: white;
}

.to-done {
  font-size: 16px;
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  justify-items: center;
}

  .cards {
    box-sizing: border-box;
    width: 350px;
  }

  .cards:hover {
    cursor: pointer;
  }
  
  