<nxlp-task-nav>
    <p>Add Task</p>
    <button class="cancel-button" routerLink="">Cancel</button>
    <button class="delete-button" >Delete</button>
    <button type="submit" class="save-button" form="task-form">Save</button>   
</nxlp-task-nav>

<main>
    <form id="task-form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

        <form-field label="Task Name" for="name" isValid="isInvalid('taskTitle')">
            <input type="text" id="name" formControlName="taskTitle">
        </form-field>

        <span *ngIf="isInvalid('taskTitle')">
            <small>Please provide a name for your task.</small>
        </span>

        <form-field label="Thumbnail" for="pic">
            <input type="file" id="pic" formControlName="thumbnail">
        </form-field>
        
        <form-field label="Tags" for="tags">
            <input type="text" id="tags" formControlName="labels">
        </form-field>

        <form-field label="Description" for="description">
            <textarea type="text" id="description" formControlName="description"></textarea>
        </form-field>

        <form-field label="Due Date" for="date">
            <input type="date" placeholder="MM/DD/YYYY" id="date" formControlName="dueDate">
        </form-field>

        <span *ngIf="isInvalid('dueDate')"> 
            <small>Date provided is before current date.</small>
        </span>

        <form-field label='Notes' for='notes'>
            <textarea type="text" id="notes" formControlName="notes"></textarea>
        </form-field>

    </form>
</main>




