@import '../../../shared/styles/buttons.scss';

/* Form */

form {
    box-sizing: border-box;
    width: 592px;
    height: 740px;

    margin: 0px auto;
    border: 1px solid var(--app-border-primary);
    border-radius: 5px;

    background-color: var(--app-bg-secondary-color);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    textarea {
        height: 90px;
        resize: none;
    }

    .sizing {
        box-sizing: border-box;
        display: block;
        width: 480px;

        font: 16px 'Roboto', sans-serif;
        color: var(--app-text-primary);

        border: 1px solid var(--app-border-primary);
        border-radius: 5px;

        padding: 8px;

        &.dsh--border {
            border: 1px dashed var(--app-border-primary);
        }
    }

    form-field {
        .inpt--small {
            width: 150px;
        }
    }
}

form-field {
    box-sizing: border-box;
    padding: 0px 56px 0px 56px;

    &.top--margin {
        margin-top: 59px;
    }

    &.btm--margin {
        margin-bottom: 61px;
    }
}

// SAVE BUTTON
.save-button {
    @extend %button-shared;
    width: 70px;
    height: 38px;
    border: none;
    margin-right: 14px;
    background: var(--app-button-primary-color);
    color: var(--app-bg-secondary-color);
}

.save-button:hover,
.save-button:focus {
    background: var(--app-button-primary-hover);
}

// CANCEL BUTTON
.cancel-button {
    @extend %button-shared;
    border: 1px solid var(--app-border-secondary);
    width: 83px;
    height: 38px;
    padding: 0.5rem 1rem;
    margin-right: 16px;
    background: var(--app-button-secondary-color);
    color: var(--app-text-primary);
}

.cancel-button:hover,
.cancel-button:focus {
    background: var(--app-button-secondary-hover);
}

// DELETE BUTTON
.delete-button {
    @extend %button-shared;
    border: none;
    height: 38px;
    width: 80px;
    padding: 0.5rem 1rem;
    margin-right: 16px;
    background: var(--app-button-danger-color);
    color: var(--app-text-white);
}

.delete-button:hover,
.delete-button:focus {
    background: var(--app-button-danger-hover);
}

@media (max-width: 768px) {
    form {
        width: 375px;
        height: 658px;
    }

    form-field {
        .sizing {
            width: 327px;
        }

        &.top--margin {
            margin-top: 26px;
        }

        &.btm--margin {
            margin-bottom: 12px;
        }
    }

    form-field {
        padding: 0px 20px 0px 20px;
    }
}
