<nxlp-task-nav>
    <p>Add Task</p>
    <button class="cancel-button" routerLink="">Cancel</button>
    <button class="delete-button" (click)="deleteTask()">Delete</button>
    <button type="submit" class="save-button" form="task-form">Save</button>
</nxlp-task-nav>

<main>
    <form id="task-form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <form-field
            class="top--margin"
            label="task name*"
            for="name"
            error-message="Please provide a name for your task."
            [showError]="isInvalid('taskTitle')"
        >
            <input class="inpt--small" type="text" id="name" formControlName="taskTitle" />
        </form-field>

        <form-field label="thumbnail" for="pic">
            <input class="dsh--border" type="file" id="pic" formControlName="thumbnail" />
        </form-field>

        <form-field label="description" for="description">
            <textarea type="text" id="description" formControlName="description"></textarea>
        </form-field>

        <form-field label="labels" for="labels">
            <input type="text" id="labels" formControlName="labels" />
        </form-field>

        <form-field
            label="due date"
            for="date"
            error-message="Date provided is before current date."
            [showError]="isInvalid('dueDate')"
        >
            <input class="inpt--small" type="date" placeholder="MM/DD/YYYY" id="date" formControlName="dueDate" />
        </form-field>

        <form-field class="btm--margin" label="notes" for="notes">
            <textarea type="text" id="notes" formControlName="notes"></textarea>
        </form-field>
    </form>
</main>
