.check-svg {
    position: relative;
    bottom: 2px;
    margin-right: 16px;

    fill: var(--app-button-primary-color);
}

.page-title {
    justify-self: center;
}

.nav-buttons {
    justify-self: end;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 14px;

    font-size: 16px;

    cursor: pointer;
}

@media (max-width: 768px) {
    .page-title {
        justify-self: start;
        font-size: 16px;
        margin-left: 54px;
        grid-area: logo;
    }

    .logo {
        grid-area: logo;
    }

    .nav-buttons {
        grid-area: button;
    }
}
